#EXT_DETECTOR {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

#EXT_DETECTOR.hidden {
  display: none;
}

#EXT_DETECTOR-ICON {
    background-size: 100%;
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#EXT_DETECTOR-ICON.busy {
  filter:brightness(50%) grayscale(75%);
}

#EXT_DETECTOR-ICON.hidden {
  display: none
}

#EXT_DETECTOR-ICON.flash {
  opacity: 1;
  animation: flash normal 1.5s infinite ease-in-out;
}

@keyframes flash {
  0% {
      opacity:1;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
